* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-size: 2.35rem;
  margin-top: 6rem;
  color: #093a8b;
  opacity: 0.4;
}

.convert-from,
.convert-to {
  display: block;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("./down.svg");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 10;
}

select:focus{
  border-color: #093b8bb0 !important;

  outline: none !important;
  box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0.267)
}

.convert-icon{
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* /Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .convert-icon {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  .chart-container{
    width: 80vw !important;
    height: 15vh !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .chart-container{
    width: 90% !important;
    /* height: 5vh !important; */
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 900px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    max-width: 1100px;
  }
}
